* {
	margin: 0;
	text-align: center;
}

body {
	background-image: url("/538553-arc-en-ciel-3d-carres-pixel-art-background-gratuit-vectoriel.png");
	background-size: cover;
	background-size: 1500px;
}

@font-face {
	font-family: Pixel;
	src: url('/04B_30__.TTF');
}

/* body {
	margin-top: 100px;
	background-image: url('paint.png');
	background-size: 1155px;
} */

/* @media only screen and (max-width: 500px) {
	#title {
		padding: 20px;
		font-family: Pixel;
		font-size: 40px;
		margin: 20px 5px;
	}
} */

#title {
	padding: 20px;
	font-family: Pixel;
	font-size: 40px;
	margin: 20px 5px;
}

.color {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 5px;
	border-radius: 50%;
}

#first-color {
	background-color: black;
}
/* 
#second-color {
	background-color: red;
}
#third-color {
	background-color: yellow;
}
#fourth-color {
	background-color: blue;
} */

#color-palette {
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: rgb(253, 242, 234, 0.7);
}

.pixel {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0;
	padding: 0px;
	margin-right: -1px;
	margin-bottom: -5px;
	border: 1px solid black;
	background: white;
}
